:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh; /* Full viewport height */
    position: relative;
  }
  
svg{
    min-width: 110vh;
  max-height: 200vh;
  transform: translate(120px, -100px); 
}
svg path {
    fill: rgb(1, 42, 1);
    stroke:rgb(169, 83, 51);
}
svg path:hover{
    fill: rgb(225, 193, 133);
    transition: 0.4s;
    cursor:pointer;
    stroke:black;
}
