svg{
    max-width: 130vh;
    min-width:110vh;
}
svg path {
    fill: rgb(1, 42, 1);
    stroke:rgb(169, 83, 51);
}
svg path:hover{
    fill: rgb(225, 193, 133);
    transition: 0.4s;
    cursor:pointer;
    stroke:black;
}
