.host{
    font-family: 'Courier New', Courier, monospace;
}
.content{
    
    justify-content:space-evenly;
    display:flex;
    flex-direction: row;
}
h1{
    margin-left:60vh;
    
}

.column1{
   
    position:relative;
}

.column2{
    padding-left:3vh;
    padding-right:10vh;
    min-width: 20vh;
    position:relative;
    
}