.host{
    font-family: 'Courier New', Courier, monospace;
}
.content{
    
    justify-content:space-evenly;
    display:flex;
    flex-direction: row;
    background-color:aliceblue;
}
h1{
    margin-left:55vh;
    top:40px;
    position:relative;
    z-index: 5;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(1, 42, 1);
}
h3{
    left:5vh;
    bottom:2vh;
    position:fixed;
    z-index: 5;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(1, 42, 1);
}

.column1{
   
    position:relative;
}

.column2{
    padding-left:3vh;
    padding-right:10vh;
    min-width: 20vh;
    position:relative;
    
}