.box{
    z-index: 10;
    position:relative;
}
mat-dialog-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:10vh;
}
mat-dialog-content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:5vh;
}
