.host{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    color:black
}
.info-box{
    background-color: rgba(35, 71, 41, 0.588);
    border-style:groove;
    border-color: black;
    position:fixed;
    padding:3vh;
    margin-right:40vh;
    min-width: 30vh;
    color:rgb(239, 224, 151);
}
