.host{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    color: rgb(239, 224, 151);
    font-family: 'Courier New', Courier, monospace;
}
h3{
    color: rgb(239, 224, 151);
    font-family: 'Courier New', Courier, monospace;
}
.info-box{
    background-color: rgb(1, 42, 1);
  border-radius: 25px;
  position: fixed;
  bottom: 3vh; /* Adjust as needed */
  right: 5vh; /* Adjust as needed */
  padding: 3vh;
  min-width: 30vh;
  color:gray;
  z-index: 10;
}
